@import '../animation.module.scss';

.container{
    width: 420px;
    background-color: #fff;
    border-radius: 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    figure {
        background-color: rgb(119, 190, 168);
        padding: 10px;
        border-radius: 15px;

    }

    p {
        padding: 10px;
        align-self: center;
        font-size: 30px;
        font-family: 'Noto Sans', sans-serif;
    }

    div {
        font-family: 'Noto Sans', sans-serif;
        padding: 10px;
        align-self: center;
        font-size: 24px;
    }

    span {
        display: flex;
        margin-right: 10px;
        margin-top: 5px;
        cursor: pointer;
        justify-content: center;

        svg {
            align-self: center;

        }

        background-color: rgb(212, 212, 212);
        border-radius: 5px;
        width: 30px;
        height: 30px;
        align-self: center;
    }
}
.main {
    width: 420px;
    
    .buttonMain {
        form {
            display: grid;
            justify-items: center;
            align-items: center;
            justify-self: flex-end;
            height: 140px;
            background-color: #fff;
            border-radius: 20px;
        }
    }

    .addButton {
        height: 50px;
        width: 280px;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 25px;
        background-color: rgb(255, 167, 167);
        color: rgb(255, 255, 255);
        font-size: 20px;

        &:active {
            position: relative;
            top: 1px;
        }

        &:hover {
            background-color: rgb(255, 144, 144);
            ;
        }
    }
}

.middleBlock {
    position: absolute;
    top: 550px;
    right: 750px;
}

@media (max-width:1780px) {
    .middleBlock {
     
        right: 600px;
    }

}

@media (max-width:1615px) {
    .middleBlock {
        display: none;
    }

    .blockContainer {
        margin-bottom: 5px;
    }

    .rightBlock {
        margin-top: 20px;
    }
}



