.container{
    margin: 15px 70px;
    background-color: rgb(242, 242, 242);
    border-radius: 70px;
    height: 940px;
}


@media (max-height:900px){
   .container{
    height: 850px;
   }
}



@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { 
    .container{

    }
}